*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}
.color-primary{
    color: #FD6E0A ;
}
/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding-top: 62px;
}
.nav-title{
    color:#181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
 margin-right: 50px;   
}
nav a{
    text-decoration: none;
    color: #474747;
}

.button-primary{
    border-radius: 5px;
    background: #FD6E0A;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}
.button-primary:hover{
    border-radius: 5px;
    background: #916727;
}
/* header relatate  */
.header{

    background-color: #fff8f3;
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-position: top left, right bottom;
    background-repeat: no-repeat;
    height: 800px;
}
.banner{
    padding: 30px 30px 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{

    width: 556px;
     
}
.banner-greeting{
    font-size: 45px;
    color:#474747;
    margin-bottom: 0;
}
.banner-title{
    color:#181818;
font-size: 85px;
font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;
}
.banner-script{
    color: #757575;
font-size: 18px;
font-weight:400;
/* line-height: 30px; */
}
/* main section style  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
/* about section style  */
.section-title{
color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
    
    

}
.section-content{
    color:#757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    color:#757575;
text-align: center;
font-size: 20px;
font-weight: 400;

}
.info-description{
    color: #474747;
font-size: 20px;
font-weight: 700;
}
#What-I-do-description{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 20px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill img{
    margin-bottom: 20px;
}
.skill-description{
        color:#757575;
        font-size: 16px;
        font-weight: 400;
       padding: 20px 0;
}
.skill-title{
    color: #181818;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0;
}
/* Resume section style  */
.section-title{
    margin-bottom: 50px;
}
.resume-container{
    display: flex;
    gap: 50px;
    /* justify-content: space-between; */
    
}
.resume-column-title{
    color: #474747;
font-size: 30px;
font-weight: 700;
margin-bottom: 30px;
}
.resume-item-info , .resume-item-description{
    color:#757575; 
    margin-bottom: 20px;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-container hr{
 margin: 30px;   
}
.download-cv{
    text-align: center;
    margin-top: 40px;
}
/* footer style  */
footer{
    background-color:#FFF8F3;
    gap: 100px;
    display: flex;
    padding: 130px 200px;
    margin-top: 100px;
     
}
.footer-column{
    width: 50%;
}
.contact input[type="text"],.contact input[type="Email"] ,textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}
.social-link a{
     margin-right: 20px ;
}
.social-link a img:hover{
    transform: scaleY(1.5);
}
.footer-column > .section-title{
    text-align: left;
}
.footer-column > .section-description{
    margin-bottom: 20px;
}